.slider-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
     align-items: center; 
  }

 
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
 
  .slide {
    min-width: 100%;
    overflow: hidden;
    position: relative;
  }
 
  /* .slider-container > .slides > .slide img {
    width: auto;
    height: 100%;
    object-fit: contain;
  } */
 
  @keyframes slideFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Apply the animation to slides */
  .mySlides {
    animation: slideFromRight 0.5s ease;
 
  }
 
  .caption {
    position: absolute;
    bottom: 10px; /* Adjust the position of the caption */
    left: 50%; /* Center the caption horizontally */
    transform: translateX(-50%); /* Center the caption horizontally */
    background-color: rgba(0, 0, 0, 0.5); /* Background color for the caption */
    color: white; /* Text color for the caption */
    padding: 5px 10px; /* Padding for the caption */
    width: 500px;
    text-align: center;
  }
 
  .w3-container{
    border-radius: 70px; /* Rounded corners for the caption */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   height: auto;
 text-align: center;
 padding: 10px 30px;
 color: #ff4500;
align-items: center;
 /* display: flex;
 flex-wrap: wrap;
 flex: 1; */
  }
 
  .w3-container > .btn-contact a{
    text-decoration: none;
  }
  /* @media (max-width:600px){
  .w3-container {
   flex-direction: column;
   height: auto;
  }
  } */
  
  @keyframes  bounce {
  80%{
   transform: translateY(0);
  }
  40%{
   transform: translateX
   Y(-20px);
  }
  60%{
   transform: translateY(-10px);
  }
 }
 
 .bounce-list li{
 
   animation: bounce 3s infinite;
   transform-origin: bottom;
   list-style-type:none ;
 }
 
 .bounce-list a{
 text-decoration: none;
 color: cadetblue;
  
 }

 